<% form_tag :action => :index do %>
  <table id="othello_board">
  
    <% @board.row_vectors.each_with_index do |line, line_index| %>
      <tr>
        <% line.to_a.each_with_index do |value, column_index| %>
          <td class="<%=get_class(value)%>">
          <%= hidden_field_tag "matrix[#{line_index}][]", value %>
          </td>
        <% end%>
      </tr>
    
    <% end %>
  </table>
  <%= submit_tag%>
<% end %>