.othello_board_td{
  border-style: solid;
  border-width: 2px;
}

#othello_board {
  margin-left: 100px;
  margin-top: 100px;
  width: 350px;
  height: 350px;
  color: #000000;
  border-spacing: 0;
  background-image: url('../images/board.jpg');
  float: left;
}

#result {
  margin-top: 100px;
  margin-left: 500px;
}

.p1 {
  background-repeat: no-repeat;
  background-image: url('../images/white.gif');
}

.cpu {
  background-repeat: no-repeat;
  background-image: url('../images/black.gif');
}